/*header*/
/* Product Detail*/
/*main*/
.l-pd {
   
    font-family: Roboto,sans-serif;
    background: #f8f9fa;
    display:block;
}
main
{
    display:block;
}
.l-pd-main
{

}
.l-pd-header {
    background: #fff;
    padding-bottom: 850px;  
    box-shadow: 0 0 3px 0 #dee2e6;

}
.container-top {
   
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.row {
    margin-left: 0;
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
ol {
    list-style: none;
}
.linker {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    min-height: 20px;
    display:inline;
}
.linker-top {
    display: inline;
    margin-top: 10px;
    margin-bottom: 10px;
}
.linker-item {
    display:inline;
    font-size: 14px;
    line-height: 20px;
    color: #0275d8;
    line-height: 24px;
    font-size: 14px;
}
    .linker-item a {
        display: inline;
        position: relative;
        display: inline-block;
        color: #0664f9;
        font-size: 14px;
        line-height: 20px;
    }
a {
    cursor: pointer;
    background-color: transparent;
    outline: 0;
    text-decoration: none;
    color: #000;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}
    
.l-pd-nameprod {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 16px;
    -webkit-box-shadow: inset 0 -1px 0 0 #dee2e6;
    box-shadow: inset 0 -1px 0 0 #dee2e6;
    min-height: 57px;
    

}
h1 {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: 0 0;
    margin: 0 0 20px;
    font-family: inherit;
    font-weight: 700;
    color: inherit;
    font-size: 3.6rem;
    line-height: 4.896rem;
    margin-bottom: 0;
}

.st-name-prod {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-weight: 500;
    color: #212529;
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 0;
    line-height: 4.896rem;
    font-size: larger;
    margin: 0 0 20px;
    color: inherit;
    margin: 0;
    border: 0;
    vertical-align: baseline;
    background: 0 0;
    font-family: Arial;
    font-weight:bold;
}

.st-number-prod {
    color: #99a2aa;
    display: inline-block;
    position: relative;
    margin-left: 4px;
    cursor: pointer;
    font-size: 12px;
    line-height: 18px;
    font-family: Arial;
}

.st-ratting-prod {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    flex-basis: auto;
    margin-top: 4px;
    flex-basis: 30%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    margin-bottom: 30px;
   
}

.st-ratting__star {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom:5px;
   
}
.st-ratting__star li
{ 
    margin-right:5px;
}
    .st-ratting__star li span {
        color: yellow;
        
        font-size: 15px;
    }

ul {
    list-style: none;
}

.st-ratting_wirte {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2px;
 
}


/*--Khung all Sản phẩm-- >*/
.l-pd-row {
    width: 100%;
    height: auto;   
}
.clearfix{
    zoom:1;
}
.l-pd-left {
    width: calc(50% - 15px);
    position: sticky;
    top: 15px;
    float:left;
}

.st-slider {
    position: relative;
    min-height: 390px;
    margin-bottom: 10px;
    
}

.st-slider__box-img-prod-sale {
    position: absolute;
    height: calc(100% - 20px);
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    pointer-events: none;
    display: block;
    text-align: center;
}

    .st-slider__box-img-prod-sale img {
        width: 100%;
        height: 100%;
       
    }
img {
    vertical-align: middle;
    max-width: 100%;
}

.st-slider__box-img-prod-sale p {
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    bottom: 6px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    margin: 0;
}
p {
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: 0 0;
}
    .st-slider__box-img-prod-sale span {
        font-weight: 500;
        color: #fbee35;
        font-size: 36px;
        line-height: 36px;
        font-weight: bold;
    }

.img-prod-all {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
  
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.swiper-wrapper {
    margin-bottom: 20px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-transition-timing-function: var(--swiper-wrapper-transition-timing-function,initial);
    -o-transition-timing-function: var(--swiper-wrapper-transition-timing-function,initial);
    transition-timing-function: var(--swiper-wrapper-transition-timing-function,initial);
    width: 100%;
    z-index: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.st-slider .swiper-wrapper {
    margin-bottom: 20px;
}
.st-slider.product-sale .swiper-slide {
    text-align: center;
    pointer-events: none;
    padding-top: 390px;
    position: relative;
}
.swiper-slide, swiper-slide {
    -ms-flex-negative: 0;
    display: block;
    flex-shrink: 0;
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    width: 100%;
}
.swiper-slide {
    position: static;
}
.st-slider.product-sale .swiper-slide img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 73%;
    -webkit-transform: translate(-50%,-48%);
    -ms-transform: translate(-50%,-48%);
    transform: translate(-50%,-48%);
}
/*button sile show*/
.myDiv {
    min-width: 700px;
    min-height: 300px;
    position: relative;
    padding-bottom: 85px;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

    .myDiv img {
        position: absolute;
        top: 50%;
        left: 40%;
        width: auto;
        height: 73%;
        -webkit-transform: translate(-50%,-48%);
        -ms-transform: translate(-50%,-48%);
        transform: translate(-50%,-48%);
        vertical-align: middle;
        max-width: 100%;
        
    }

    .myDiv button {
        position: absolute;
        top:55%;
        transform: translateY(-50%);
        /* Thêm các thuộc tính để tạo nút hình tròn */
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: none;
        background-color: rgba(191, 191, 191, 0.5);
      
    }

#prev {
    
    left: 10px; /* Đặt nút "Prev" vào trong khối div */
}

#next {
  
    right: 125px; /* Đặt nút "Next" vào trong khối div */
}
/*--------------------------------*/
.slider-content-left {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0px;
    z-index: 1;
}

/*sile*/

.swiper-custom .swiper-pagination {
    bottom: 5px;
}
.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
}
.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: .3s opacity;
    -o-transition: .3s opacity;
    transition: .3s opacity;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    padding-left:250px;
    
    
    
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
}
.swiper-custom .swiper-pagination-bullet-active {
    background: #d1281e;
}
.swiper-custom .swiper-pagination-bullet {
    background: #ced4da;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2;
    
    
}


.swiper-pagination-bullet-active {
    margin: 0 4px;
    background: #d1281e;
    background: #ced4da;
    cursor: pointer;
    opacity: 1;
    background: var(--swiper-pagination-color,var(--swiper-theme-color));
    color: black;
}
.swiper-custom .swiper-button-next
{
    right:5px;
}
.swiper-custom [class*=swiper-button] {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: solid 1px #ced4da;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: .7;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    left: auto;
    right: var(--swiper-navigation-sides-offset,10px);
}
.swiper-button-next, .swiper-button-prev {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    align-items: center;
    color: var(--swiper-navigation-color,var(--swiper-theme-color));
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    height: var(--swiper-navigation-size);
    justify-content: center;
    margin-top: calc(0px - var(--swiper-navigation-size)/2);
    position: absolute;
    top: var(--swiper-navigation-top-offset,50%);
    width: calc(var(--swiper-navigation-size)/44*27);
    z-index: 10;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 10px;
    left: auto;
}
.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(-1 * var(--swiper-navigation-size)/ 2);
    z-index: 10;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: var(--swiper-navigation-color,var(--swiper-theme-color));
}
.swiper-custom [class*=swiper-button] span {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: #495057;
}
    .swiper-custom [class*=swiper-button] span i {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 16px;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    cursor: auto;
    opacity: .35;
    pointer-events: none;
}
.swiper-custom .swiper-button-disabled {
    opacity: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.swiper-custom .swiper-button-prev {
    left: 5px;
}
.swiper-custom [class*=swiper-button] {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: solid 1px #ced4da;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: .7;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none;
}
.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}
/*Hình ảnh show*/
.st-slider__feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 25px;
}

.st-slider__feature__item {
    text-align: center;
    margin: 0 15px;
}

a {
    cursor: pointer;
    color: #0168fa;
    text-decoration: none;
    background-color: transparent;
    outline: 0;
    text-decoration: none;
    color: #000;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}

.st-slider__feature__item span {
    color: #495057;
    font-size: 46px;
    line-height: .5;
    display: inline-block;
    margin-bottom: 4px;
}

.st-param {
    padding: 15px 20px;
    border-radius: 4px;
    border: solid 1px #e9ecef;
    background-color: #f8f9fa;
    margin-bottom: 16px;
}
    .st-param ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        list-style: none;
    }

p {
   
    padding: 0;
    border: 0;
    background: 0 0;
    font-weight: 400;
    color: inherit;
    margin: 0 0 15px;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    vertical-align: baseline;
   
}

        .st-param ul li {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-item-align: baseline;
            align-self: baseline;
            color: #495057;
            margin-bottom: 8px;
            position: relative;
            cursor: help;
          
        }
        .icon-screen-size{
            font-size:15px;
        }

.st-param ul li p {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
}
.st-param ul li > [class^=icon-] {
    font-size: 17px;
    width: 20px;
    height: 20px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 2px;
    margin-right: 8px;
    color: #b6bfc7;
    font-size: 15px;
}
.re-link {
    color: #0168fa;
    position: relative;
    display: inline-block;
}
.l-pd-policy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: -8px;
}
.l-pd-policy__item {
    display: -ms-flexbox;
    display: -webkit-box;
    min-width: 282px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 8px;
    display: inline;
}
.l-laptop .l-pd-policy__item span {
    color: #939ca3;
    display:inline;
}
.l-pd-policy__item p {
    display: -webkit-box;
    display: -ms-flexbox;
    margin-bottom: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
   display:inline;
}


/* <!--Khung số 2.2 hổ trợ và già sản phẩm-->*/
.l-pd-right {
    width: calc(50% - 15px);
    float: left;
    margin-left: 30px;
    float:right;
}
.st-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 16px;
}
.st-price__left {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}
.st-price-main {
    font-weight: 500;
    color: #cb1c22;
    font-size: 32px;
    line-height: 40px;
    margin-right: 10px;
    font-weight:bold;
    font-family:Arial;
}
.st-price-sub {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #99a2aa;
}
.st-price__right {
    width: 30%;
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
    .st-price__right span:first-child {
        margin-bottom: 6px;
        margin-top: 2px;
    }
    .st-price__right span {
        color: #555;
        display: inline-block;
        font-size: 14px;
        line-height: 14px;
    }
strong {
    font-weight: 700;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: 0 0;
}
.loyalty {
    margin-top: -8px;
    margin-bottom: 16px;
}
    .loyalty .btn-loyalty {
        position: relative;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 4px;
        padding: 3px 8px 3px 4px;
        background: #fefae8;
        border: 1px solid #fdf1ba;
        border-radius: 100px;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        cursor: pointer;
       
    }
.tooltip {
    position: relative;
}
.loyalty .btn-loyalty span {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    background: #f6c743;
    color: #fff;
    border: 1px solid #efb140;
    border-radius: 50%;
    font-size: 12px;
    line-height: 1;
}
.loyalty .btn-loyalty strong {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #b7791f;
    font-size: 14px;
    line-height: 1;
}
.loyalty .btn-loyalty i.ic-info {
    color: #efb140;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #efb140;
    font-size: 9px;
}
.tooltip i.ic-info {
    font-size: 10px;
    line-height: 1;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.loyalty .btn-loyalty .tooltip-box {
    width: 341px;
    padding: 7px 11px;
}
.tooltip-right .tooltip-box {
    left: calc(100% + 16px);
}
.tooltip-left .tooltip-box, .tooltip-right .tooltip-box {
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    bottom: 50%;
}
.tooltip-dark .tooltip-box {
    background: #939ca3;
    color: #fff;
}

element.style {
}

.loyalty .btn-loyalty .tooltip-box {
    width: 341px;
    padding: 7px 11px;
}

.tooltip-right .tooltip-box {
    left: calc(100% + 16px);
}

.tooltip-left .tooltip-box, .tooltip-right .tooltip-box {
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    bottom: 50%;
}

.tooltip-dark .tooltip-box {
    background: #939ca3;
    color: #fff;
}

.tooltip-box, .tooltip-box:after, .tooltip-box:before {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
}
    .tooltip-box, .tooltip-box div, .tooltip-box li, .tooltip-box p {
        font-size: 14px;
        line-height: 20px;
    }
.tooltip-box {
    position: absolute;
    z-index: 2;
    background: #fff;
    color: #38a169;
    padding: 15px 23px;
    border-radius: 6px;
    border: 1px solid #cbd1d6;
    text-align: left;
    -webkit-box-shadow: 0 1px 4px rgba(10,10,10,.15);
    box-shadow: 0 1px 4px rgba(10,10,10,.15);
    white-space: normal;
    min-width: 300px;
    max-width: 500px;
}

/*promotion*/
.st-select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 16px;
    background: #f8f9fa;
    border-radius: 4px;
}
.st-boxPromo {
    background-color: #f8f9fa;
    margin-bottom: 16px;
    font-weight:bold;
}
    .st-boxPromo .title {
        padding: 8px 10px;
        color: #212529;
        font-weight: 500;
        -webkit-box-shadow: inset 0 -1px 0 0 #e9ecef;
        box-shadow: inset 0 -1px 0 0 #e9ecef;
        border: 1px solid;
        border-color: #e9ecef #e9ecef transparent #e9ecef;
        border-radius: 4px 4px 0 0;
        font-weight:bold;
    }
.st-boxPromo__list:not(:last-of-type) {
    border-bottom: none;
    border-radius: 0;
}
.st-boxPromoContent, .st-boxPromo__list {
    border: 1px solid;
    border-color: transparent #e9ecef #e9ecef #e9ecef;
    border-radius: 0 0 4px 4px;
}
ul {
    list-style: none;
}
.st-boxPromo__list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 4px 10px;
}
.st-boxPromo__list .radio {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.checkbox, .radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.st-boxPromo__list .radio input {
    margin: 2px 8px 0 0;
}
.checkbox input, .radio input {
    position: relative;
    border: none;
    margin: 0 8px 0 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: 0;
}
input {
    font: 99% sans-serif;
    vertical-align: middle;
}
.checkbox input:checked + label, .radio input:checked + label {
    font-weight: 500;
}
.st-boxPromo__list .radio label {
    line-height: 20px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.checkbox label, .radio label {
    cursor: pointer;
    font-size: 14px;
    line-height: 21px;
}
.st-boxPromo__list ~ .title {
    border-radius: 0;
    border-top: none;
}
.st-boxPromo .title--more {
    padding: 0;
    -webkit-box-shadow: inset 0 1px 0 0 #e9ecef;
    box-shadow: inset 0 1px 0 0 #e9ecef;
}
.st-boxPromo .title {
    padding: 8px 10px;
    color: #212529;
    font-weight: 500;
    -webkit-box-shadow: inset 0 -1px 0 0 #e9ecef;
    box-shadow: inset 0 -1px 0 0 #e9ecef;
    border: 1px solid;
    border-color: #e9ecef #e9ecef transparent #e9ecef;
    border-radius: 4px 4px 0 0;
}
.st-boxPromo .title--more span {
    padding: 4px 10px;
    font-weight: 500;
    background-color: #e9ecef;
    display: inline-block;
    border-radius: 0 0 4px 0;
}
.st-boxPromoContent, .st-boxPromo__list {
    border: 1px solid;
    border-color: transparent #e9ecef #e9ecef #e9ecef;
    border-radius: 0 0 4px 4px;
}
    .st-boxPromo__list li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 4px 10px;
    }
.st-boxPromo__list--more li i {
    color: green;
    font-size: 14.5px;
    margin-right: 8px;
    line-height: 1;
    margin-top: 2px;
    margin-top: 1px;
}
.st-boxFeature {
    margin-bottom: 15px;
}
    .st-boxFeature ul li:not(:last-child) {
        margin-bottom: 10px;
    }
    .st-boxFeature ul li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    label
    {
        cursor:pointer;
    }

    .st-boxFeature ul li .img {
        width: 60px;
        height: 60px;
        margin-right: 8px;
        padding: 5px;
        border-radius: 4px;
        border: solid 1px #dee2e6;
        position: relative;
    }
.e-label-pos {
    display: inline-block;
    position: absolute;
    bottom: 2px;
    left: 2px;
}
.checkbox, .radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: center;
    
}
    .checkbox input, .radio input {
        position: relative;
        border: none;
        margin: 0 8px 0 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
        outline: 0;
    }
input[type=checkbox] {
    vertical-align: bottom;
}
.st-boxFeature ul li .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 14px;
    line-height: 20px;
}
.text {
    font-size: 14px;
    line-height: 20px;
    color: #444b52;
    font-weight: 400;
}
.loyalty {
    margin-top: -8px;
    margin-bottom: 16px;
}
.st-boxFeature ul li .text p {
    font-weight: 500;
    margin-bottom: 4px;
}
 .st-boxFeature ul li .text p{
    font-size: 15px;
    line-height: 20px;
}

.st-pd-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 16px;
  
}     

 
.st-pd-btn .btn-full {
    width: 100%;
    margin-bottom: 5px;
}
    .st-pd-btn .btn {
        cursor: pointer;
    }
.btn-xl {
    padding: 10px 32px;
    font-size: 18px;
    line-height: 14px;
}
.btn-primary {
    color: #fff;
    background: #cb1c22;
    outline: 0;
}
/*id*/
#btn-installment
{
    
}
#btn-installment-card {
   
}
.btn {
    display: inline-block;
    font-weight: 300;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 14px;
    line-height: 14px;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
button, input[type=button] {
    width: auto;
    margin: 0;  
    overflow: visible;
}
.btn btn-info .btn-xl .btn--half {
    width: 100%;
    margin-bottom: 5px;
    cursor: pointer;
    padding: 10px 32px;
    font-size: 18px;
    line-height: 14px;
    color: red;
    background: #cb1c22;
    outline: 0;display:inline;
}
.st-pd-btn .btn div strong {
    font-weight: bold;
    color:white;
}

.st-pd-btn .btn div {
    font-weight: 500;
    display: inline;
    margin-bottom: 4px;
}

.btn div {
    font-size: 20px;
    line-height: 20px;
}
.st-pd-btn .btn p {
    color: #fff;
    font-weight: 400;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 13px;
}
.st-pd-btn .btn-info {
    background: #0664f9;
}
.st-pd-btn .btn--half {
    width: 250px;
}

.st-pd-btn .btn {
    cursor: pointer;
}
.st-pd-normal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-top:20px;
}
    .st-pd-normal .hotline {
        display: inline-block;
        -ms-flex-item-align: center;
        align-self: center;
        font-size: 14px;
        line-height: 14px;
    }
.re-hotline {
    color: #cb1c22;
    font-weight: 500;
}
.st-pd-normal .hotline a {
    line-height: inherit;
}
.st-pd-normal .store span {
    font-size: 17px;
    display: inline-block;
    margin-right: 3px;
}
/**Body prod new card and detail*/

.l-pd-body-prod {
    padding: 32px 0;
}

.l-pd-body-prod__wrapper {
    display: flex;
    -webkit-box-pack: justify;   
    justify-content: space-between;
    width: 100%;
}
/*Left body product*/

.l-pd-body-prod__left {
    min-height: 1012px;
    width: 58.75%;
    -ms-flex-item-align: auto;
    align-self: auto;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 470px;
}
.st-card {
    margin-bottom: 32px;
}
.st-card--article.card.expand {
    height: auto;
    position: relative;
}
.st-card--article.card {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: calc(100% - 32px);
    display: block;
}
.card {
    position: relative;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-break: break-word;
    background-color: #fff;
    background-clip: border-box;
    -webkit-box-shadow: 0 0 3px 0 #dee2e6;
    box-shadow: 0 0 3px 0 #dee2e6;
    border-radius: 6px;
}
.re-card {
    padding: 16px 20px 0;
}
.card-title {
    padding-top:30px;
    padding-left:20px;
    position: relative;
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #212529;
    font-size: 20px;
    line-height: 28px;
    font-weight:bold;
    font-size:larger;
}
h2 .h2 {
    margin-bottom: 0;
    font-size: 3.0rem;
    margin: 0 0 20px;
    font-weight: 700;
    color: inherit;
    font-size: 30px;
    line-height: 32px;
    font-family: inherit;
    font-weight: 500;
    color: #32373d;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: 0 0;
}
.card-body {
    padding: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
}
.st-prod_slider {
    margin-bottom: 30px;

}
.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.st-pd__slider .swiper-wrapper {
    margin-bottom: 10px;
}
    .swiper-wrapper {
 
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-transition-timing-function: var(--swiper-wrapper-transition-timing-function,initial);
    -o-transition-timing-function: var(--swiper-wrapper-transition-timing-function,initial);
    transition-timing-function: var(--swiper-wrapper-transition-timing-function,initial);
    width: 100%;
    z-index: 1;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: -ms-flexbox;
    display: flex;

}
.st-pd__slider .swiper-slide {
    text-align: center;
}

.swiper-slide {
    position: static;
}
.swiper-slide, swiper-slide {
    -ms-flex-negative: 0;
    display: block;
    flex-shrink: 0;
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    width: 100%;
}
.swiper-slide {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;

}
img{
    vertical-align:middle;
    max-width:100%;

}
.re-swiper .swiper-pagination {
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
}

.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}
.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
}
.re-swiper .swiper-pagination-bullet {
    width: 100%;
    max-width: 40px;
    height: 3px;
    border-radius: 5px;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}
.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2;
}
/*Title body prod*/
.st-pd-contentTitle {
    text-align: center;
    font-weight: bold;
    margin-bottom: 24px;
    color: #212529;
    padding-top:20px;
}
    .st-pd-contentTitle h2{
        padding-top:30px;
    }
    .st-pd-content p {
        color: #495057;
    }
.st-pd-content b, .st-pd-content em, .st-pd-content i, .st-pd-content u {
    font-size: inherit;
    line-height: inherit;
}
/* Right Product body*/
.l-pd-body-prod__right {
    width: 38.75%;
    padding-left:100px;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
}
.card {
    position: relative;
}
.st-card {
    margin-bottom: 32px;
}
.re-card {
    padding: 16px 20px 0;
}
.st-card .card-title {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
tbody,tr,td,ul,video,table,section,span,label,menu,nav
,ol,p,b,img,footer,h1,h2,body div,body,li,i{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: 400;
    vertical-align: baseline;
    background: 0 0;
}
.st-pd-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
}
    .st-pd-table tr:nth-child(odd) {
        background-color: #cbd1d6;
    }
    .st-pd-table td:first-child {
        width: 126px;
    }
    .st-pd-table td {
        border: 1px solid #dee2e6;
        padding: 6px 10px;
    }
   
td {
    vertical-align: top;
    font-weight:400;
}
.st-pd-table-viewDetail {
    padding: 10px 0;
    text-align: center;
}
    .st-pd-table-viewDetail .carret {
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid #0168fa;
        display: inline-block;
        vertical-align: middle;
        margin-left: 2px;
        margin-bottom: 2px;
        color: inherit;
    }
table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: inherit;
}
/*Questione css*/
.c-question-item {
    position: relative;
    -webkit-box-shadow: inset 0 1px 0 0 #dee2e6;
    box-shadow: inset 0 1px 0 0 #dee2e6;
    padding: 12px 20px;
}
    .c-question-item .head {
        color: #212529;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        cursor: pointer;
    }
        .c-question-item .head span {
            color: #ced4da;
            margin-right: 8px;
            font-size: 26px;
        }
question-item .head p {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
}
.c-question-item .body {
    display: none;
    margin-top: 8px;
    color: #495057;
    padding-right: 90px;
    font-weight: 400;
}
.c-question__icon {
    position: absolute;
    top: 13px;
    right: 19px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: solid 1px #ced4da;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}
